<ion-header>
  <ion-navbar>
	<ion-title>
	  Auth app
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="login('facebook')" *ngIf="!provider.loggedIn" ><ion-icon name="logo-facebook"></ion-icon></button>
  <button ion-button (click)="login('google')" *ngIf="!provider.loggedIn" ><ion-icon name="logo-google"></ion-icon></button>
  <button ion-button (click)="login('twitter')" *ngIf="!provider.loggedIn" ><ion-icon name="logo-twitter"></ion-icon></button>
  <button ion-button (click)="login('github')" *ngIf="!provider.loggedIn" ><ion-icon name="logo-github"></ion-icon></button>
  <button ion-button (click)="logout()" *ngIf="provider.loggedIn" >Logout</button>
  	<ion-card *ngIf="provider.loggedIn">
	  	<img src="{{provider.profilePicture}}"/>
	  	<ion-card-content>
			<ion-card-title>
				{{provider.name}}  	
			</ion-card-title>
			<p style="text-align: center;">
				{{provider.email}}
			</p>
	  	</ion-card-content>
	</ion-card>
</ion-content>
