<ion-header>
  <ion-navbar>
	<ion-title>
	  Auth app
	</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button (click)="loginWithFacebook()" *ngIf="!provider.loggedIn" >Login with facebook</button>
  <button ion-button (click)="loginWithGoogle()" *ngIf="!provider.loggedIn" >Login with Google</button>
  <button ion-button (click)="logout()" *ngIf="provider.loggedIn" >Logout</button>
  	<ion-card *ngIf="provider.loggedIn">
	  	<img src="{{provider.profilePicture}}"/>
	  	<ion-card-content>
			<ion-card-title>
				{{provider.name}}  	
			</ion-card-title>
			<p style="text-align: center;">
				{{provider.email}}
			</p>
	  	</ion-card-content>
	</ion-card>
</ion-content>
